
<!--<div [ngSwitch]="frases">
  <p *ngSwitchCase="1">A vida trará coisas boas se tiver paciência.</p>
  <p *ngSwitchCase="2">Demonstre amor e alegria em todas as oportunidades e verá que a paz nasce dentro de si.</p>
  <p *ngSwitchCase="3">Não compense na ira o que lhe falta na razão.</p>
  <p *ngSwitchCase="4">Defeitos e virtudes são apenas dois lados da mesma moeda.</p>
  <p *ngSwitchCase="5">A maior de todas as torres começa no solo.</p>
</div>-->

<!--<p *ngIf="mostrarFrase">{{ExibirMensagem()}}</p>-->

<p [hidden]="ocultar" >{{ExibirMensagem()}}</p>

<!--
<div *ngIf="ocultar;else naoOcultar">
  {{ExibirMensagem()}}
</div>
<ng-template #naoOcultar>
  <p></p>
</ng-template>-->